.contato {
    background-color: #444;
    margin-top: 60px;
    padding-bottom: 25px;
}

.contato .subtitulo {
    color: rgb(134, 116, 134);
    padding-top: 30px;
    margin: 0px;
}

.contato p {
    text-align: center;
    color: #ddd;
    margin-bottom: 25px;
}

.redes-sociais {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.redes-sociais img {
    width: 40px;
}

@media (max-width: 700px) {
    .subtitulo {
        font-size: 3rem;
    }
}

@media (max-width: 300px) {
    .subtitulo {
        font-size: 2.5rem;
    }
}