body {
    margin: 0px;
    font-family: Helvetica;
    color: #ffffff;
    background-color: #0f0f0f;
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.subtitulo {
    font-family: 'Poppins';
    font-size: 3.5rem;
    color: rgb(255, 0, 255);
    opacity: 0.3;
    padding-top: 80px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}