body {
    margin: 0px;
    font-family: Helvetica;
    color: #141414;
    background-color: #fafafa;
}

h1, h2, h3, p {
    margin: 0px;
}

ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

.subtitulo {
    font-family: 'Poppins';
    font-size: 4rem;
    color: darkmagenta;
    opacity: 0.5;
    padding-top: 80px;
    margin-bottom: 10px;
    text-transform: uppercase;
    text-align: center;
}