.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.cabecalho {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.cabecalho a {
    display: block;
    color: #2c2c2c;
    font-size: 1rem;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
}

@media (max-width: 700px) {
    .header {
        flex-direction: column;
        padding: 20px;
        gap: 30px;
    }
    .header a {
        background-color: #eeeeee;
        border-radius: 5px;
    }
}