.light-mode {
    color: hsl(0, 0%, 4%);
    background-color: #fafafa;
}    

.light-mode h1, .light-mode h2, .light-mode h3 {
    color: #222;
}

.light-mode .contato, .light-mode footer {
    background-color: #444;
}

.light-mode .cabecalho a:hover {
    border-bottom: solid 3px darkmagenta;
}

.light-mode p, .light-mode .texto-projeto, .light-mode .cabecalho a {
    color: #4e4e4e;
}

.light-mode .card-projeto:hover {
    border: solid 3px darkmagenta;
}

.light-mode .habilidades img {
    opacity: 1;
}

.light-mode .habilidades img:hover {
    opacity: 0.7;
}