/* body {
    margin: 0px;
    font-family: Helvetica;
    color: #fafafa;
    background-color: #0a0a0a;
} */

/* .contato, footer {
    background-color: #444;
} */

/* .cabecalho a:hover {
    border-bottom: solid 3px darkmagenta;
}

} */



/* p {
    color: #4e4e4e;
} */

/* h1, h2, h3 {
    color: #222
} */


/* .card-projeto:hover {
    border: solid 3px darkmagenta;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: .5s;
}