/* body {
    margin: 0px;
    font-family: Helvetica;
    color: #fafafa;
    background-color: #0a0a0a;
} */

/* .contato, footer {
    background-color: #444;
} */

/* .cabecalho a:hover {
    border-bottom: solid 3px darkmagenta;
}

} */

/* h1 {
    color: #222222;
} */

/* .introducao p {
    color: #4e4e4e;
    font-size: 1.5rem;
    margin-bottom: 20px;
} */



/* .card-projeto:hover {
    border: solid 3px darkmagenta;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: .5s;
}

.card-projeto p {
    font-size: 1.2rem;
    color: #4e4e4e;
    padding-left: 5px;
}

.card-projeto h3 {
    font-size: 1.125rem;
    padding: 8px;
    margin-bottom: 20px;
    color:  #222 */